@page "/"

@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable



<div class="form-group row">
    <label>
        Servo 1 (@servo1):
    </label>
    <MatSlider @bind-Value="@servo1" Immediate="true" Step="1" EnableStep="true" ValueMin="0" ValueMax="180" Markers="true" Pin="true" TValue="int" Discrete="true"></MatSlider>
</div>

<div class="form-group row">
    <label>
        Servo 2 (@servo2):
    </label>
    <MatSlider @bind-Value="@servo2" Immediate="true" Step="1" EnableStep="true" ValueMin="0" ValueMax="180" Markers="true" Pin="true" TValue="int" Discrete="true"></MatSlider>
</div>

<div class="form-group row">
    <label>
        Servo 3 (@servo3):
    </label>
    <MatSlider @bind-Value="@servo3" Immediate="true" Step="1" EnableStep="true" ValueMin="0" ValueMax="180" Markers="true" Pin="true" TValue="int" Discrete="true"></MatSlider>
</div>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>

<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {


    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string userInput;
    private string messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    Task Send() =>
        hubConnection.SendAsync("SendMessage", userInput, messageInput);

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }

    public int servo1
    {
        get => _servo1;
        set
        {
            _servo1 = value;
            this.StateHasChanged();
            hubConnection.SendAsync("SendMessage", "servo1", _servo1.ToString());
        }
    }

    public int servo2
    {
        get => _servo2;
        set
        {
            _servo2 = value;
            this.StateHasChanged();
            hubConnection.SendAsync("SendMessage", "servo2", _servo2.ToString());
        }
    }

    public int servo3
    {
        get => _servo3;
        set
        {
            _servo3 = value;
            this.StateHasChanged();
            hubConnection.SendAsync("SendMessage", "servo3", _servo3.ToString());
        }
    }


    private int _servo1 = 90;
    private int _servo2 = 90;
    private int _servo3 = 90;

}
